<% provide(:title, "Edit Profile") %>
<h1>Edit Profile</h1>

<div>
	<div>
		<%= form_for @user.profile do |f| %>

			<%= f.label :first_name %>
			<%= f.text_field :first_name %>

			<%= f.label :last_name %>
			<%= f.text_field :last_name %>

			<%= f.label :state %>
			<%= f.select :state, us_states %>

			<%= f.label :school %>
			<%= f.text_field :school %>

			<p><%= f.submit "Submit Changes", class: "btn btn-primary" %></p>

		<% end %>

	</div>
</div>