<% provide(:title, "Edit Profile") %>
<h1>Edit Profile</h1>

<div>
	<div>
		<%= form_for(current_user) do |f| %>

			<%= f.label :first_name %>
			<%= f.text_field :first_name %>

			<%= f.label :last_name %>
			<%= f.text_field :last_name %>

			<%= f.label :state %>
			<%= f.text_field :state %>

			<%= f.label :school %>
			<%= f.text_field :school %>


		<% end %>

	</div>
</div>
